Camera/config.js
Relay_Server/config.js
Smart_Gardening_Controller_MVC/config.js
Temperature\ and\ Humidity\ API/config.js
Water_Sensor_API/config.js

Camera/node_modules/
Relay_Server/node_modules/
Smart_Gardening_Controller_MVC/node_modules/
Temperature\ and\ Humidity\ API/node_modules/
Temperature\ and\ Humidity\ API/bcm2835-1.56/
Soil\ Sensor\ API/node_modules/ 
Smart_Gardening_Controller_MVC/package-lock.json