Relay\ Server/config.js
Temperature\ and\ Humidity\ Controller/config.js
Temperature\ and\ Humidity\ API/config.js

Relay\ Server/node_modules/
Temperature\ and\ Humidity\ Controller/node_modules/
Temperature\ and\ Humidity\ API/node_modules/
