<% include ../partials/header %>
  <h1>Video Page</h1>
  	<script type="text/javascript" src="https://rawgit.com/131/h264-live-player/master/vendor/dist/http-live-player.js"></script>
    <script>
  	const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
	const echoSocketUrl = socketProtocol + '//' + '192.168.254.200:5000' + '/echo'
	// const socket = new WebSocket(echoSocketUrl);

	// socket.onopen = () => {
	//   socket.send('Here\'s some text that the server is urgently awaiting!'); 
	// }

	// socket.onmessage = e => {
	//   console.log('  from server:', event.data)
	// }

	var canvas = document.createElement("canvas"),
		contentDiv = document.getElementById("content");

	canvas.style.backgroundColor = "red";
    contentDiv.appendChild(canvas);
 
    var wsavc = new WSAvcPlayer(canvas, "webgl");
 
    wsavc.connect(echoSocketUrl);
  </script>
<% include ../partials/footer %>