<% include ../partials/header %>
<div class="container1">
	<div class="box box-1">
		<ul >
			<li class="mybtn"><i class="fas fa-thermometer"></i><a id="a_temp_humid" onclick="updatePage(event)"> Temp/Humidity</a><li>
			<li class="mybtn"><i class="fas fa-leaf"></i><a id="a_soil" onclick="updatePage(event)"> Soil</a><li>
            <li class="mybtn"><i class="fas fa-chart-pie"></i><a id="a_graph" onclick="updatePage(event)"> Graphs</a><li>
	      	<li class="mybtn"><i class="fas fa-file"></i><a id="a_report"onclick="updatePage(event)"> Reports</a></li>
	      	<li class="mybtn"><i class="fas fa-image"></i><a id="a_image" onclick="updatePage(event)"> Images</a></li>
	        <li class="mybtn"><i class="fas fa-video"></i><a id="a_video" onclick="updatePage(event)"> Live Video</a></li>
    	</ul>
		<ul sttyle='align-content: flex-end'>
	      	<li class="mybtn"><i class="fas fa-user"></i><a id="a_image" onclick="updatePage(event)"> Images</a></li>
	        <li class="mybtn"><i class="fas fa-cog"></i><a id="a_settings" onclick="updatePage(event)"> Settings</a></li>
    	</ul> 
	</div>
	<div class="box box-2">
		<select id="dept_select" hidden>
			<option value="all">Show All</option>
		</select>
		<select id="loc_select" hidden>
			<option value="all">Show All</option>
		</select>

		<div class="flex-container charts" id="deptpiechart" hidden></div>
        <div class="flex-container charts" id="locpiechart" hidden></div>
		<form id="search"  hidden>First Name: 
			<input type="text" onkeyup="obj.showHint(this.value)"/ placeholder="Enter Employee's First Name">
		</form>
		<div class="flex-container" id="search_res" hidden></div>
	</div>
</div>
<% include ../partials/footer %>