<% include ../partials/header %>
<script type="text/javascript">
	$(document).ready(function () {

	    $('#sidebarCollapse').on('click', function () {
	        $('#sidebar').toggleClass('active');
	        $(this).toggleClass('active');
	    });

	});
</script>
<div class="wrapper">
	<nav id="sidebar">
		<div class="sidebar-header">
            <h3>Smart Gardening</h3>
        </div>
      	<ul class="list-unstyled components">
            <% if(!currentUser){ %>
      		<li class="nav-item active">
        		<a class="nav-link" href="/devices">
        			<i class="fab fa-fw fa-raspberry-pi"></i> Devices
        		</a>
        	</li>
      		<li class="nav-item">
        		<a class="nav-link" href="/">
        			<i class="fa fa-fw fa-thermometer"></i> Temp/Humidity
        		</a>
        	</li>
        	<li class="nav-item">
        		<a class="nav-link" href="/">
        			<i class="fa fa-fw fa-leaf"></i> Soil
        		</a>
        	</li>
        	<li class="nav-item">
        		<a class="nav-link" href="/charts">
        			<i class="fa fa-fw fa-chart-pie"></i> Graphs
        		</a>
        	</li>
        	<li class="nav-item">
        		<a class="nav-link" href="/">
        			<i class="fa fa-fw fa-file"></i> Reports
        		</a>
        	</li>
        	<li class="nav-item">
        		<a class="nav-link" href="/">
        			<i class="fa fa-fw fa-image"></i> Images
        		</a>
        	</li>
        	<li class="nav-item">
        		<a class="nav-link" href="/">
        			<i class="fa fa-fw fa-video"></i> Live Video
        		</a>
        	</li>
    		<li class="nav-item">
    			<a class="nav-link" href="/schedule">
    				<i class="fa fa-fw fa-calendar" ></i> Schedule
    			</a>
    		</li>
            <% } %>
    		<% if(!currentUser){ %>
              	<li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-item">
              		<a class="nav-link" href="/login">
              			<i class="fa fa-fw fa-user"></i> Login
              		</a>
              	</li>
              	<li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-item">
              		<a class="nav-link" href="/register">
              			<i class="fa fa-fw fa-sign-in"></i> Sign Up
              		</a>
              	</li>
          	<% } else { %>
            	<li class="nav-item">
            		<a class="nav-link" href="/admin">
            			<i class="fa fa-fw fa-user-circle"></i> Signed In As <%= currentUser.username %>
            		</a>
            	</li>
              	<li class="nav-item">
              		<a class="nav-link" href="/logout">
              			<i class="fa fa-fw fa-sign-out"></i> Logout
              		</a>
              	</li>
          	<% } %>
     	</ul>
	</nav>
	<!-- Page Content -->
	<div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    <div>
</div>
<% include ../partials/footer %>